@font-face {
  font-family: 'GmarketSans';
  src: url('./GmarketSansLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('./GmarketSansMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('./GmarketSansBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
