@import './assets/fonts/Pretendard/pretendard.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-btn {
    @apply px-2 py-1  rounded-md hover:bg-hover-white;
  }
  .room-btn {
    @apply w-8 flex justify-center items-center;
  }
  .hover-white {
    @apply hover:bg-hover-white rounded-md;
  }
  .border-light {
    @apply border rounded border-line;
  }
  .bg-default {
    background-image: radial-gradient(
        at bottom right,
        #b5f0ff 0,
        #b5f0ff 10.25px,
        rgba(181, 240, 255, 0.2) 10.25px,
        rgba(181, 240, 255, 0.2) 20.5px,
        rgba(181, 240, 255, 0.75) 20.5px,
        rgba(181, 240, 255, 0.75) 30.75px,
        rgba(181, 240, 255, 0.25) 30.75px,
        rgba(181, 240, 255, 0.25) 41px,
        rgba(181, 240, 255, 0.3) 41px,
        rgba(181, 240, 255, 0.3) 51.25px,
        rgba(181, 240, 255, 0.75) 51.25px,
        rgba(181, 240, 255, 0.75) 61.5px,
        rgba(181, 240, 255, 0.2) 61.5px,
        rgba(181, 240, 255, 0.2) 71.75px,
        transparent 71.75px,
        transparent 82px
      ),
      radial-gradient(
        at top left,
        transparent 0,
        transparent 10.25px,
        rgba(181, 240, 255, 0.2) 10.25px,
        rgba(181, 240, 255, 0.2) 20.5px,
        rgba(181, 240, 255, 0.75) 20.5px,
        rgba(181, 240, 255, 0.75) 30.75px,
        rgba(181, 240, 255, 0.3) 30.75px,
        rgba(181, 240, 255, 0.3) 41px,
        rgba(181, 240, 255, 0.25) 41px,
        rgba(181, 240, 255, 0.25) 51.25px,
        rgba(181, 240, 255, 0.75) 51.25px,
        rgba(181, 240, 255, 0.75) 61.5px,
        rgba(181, 240, 255, 0.2) 61.5px,
        rgba(181, 240, 255, 0.2) 71.75px,
        #b5f0ff 71.75px,
        #b5f0ff 82px,
        transparent 82px,
        transparent 205px
      );
    background-size: 82px 82px, 82px 82px;
    background-blend-mode: multiply;
    background-color: #5ad9ff;
  }
  .translate-x-end {
    transform: translateX(calc(11rem - 100%));
  }
  .shadow {
    box-shadow: 0px 2px 8px 0px rgba(112, 112, 112, 0.75);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(112, 112, 112, 0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(112, 112, 112, 0.75);
  }
  .shadow-md {
    box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.75);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.75);
  }
  .light-shadow {
    box-shadow: 0px 1px 5px 0px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(199, 199, 199, 0.75);
  }
  .shadow-xs {
    box-shadow: 0px 1px 4px 0px rgba(199, 199, 199, 0.6);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(199, 199, 199, 0.6);
    -moz-box-shadow: 0px 1px 4px 0px rgba(199, 199, 199, 0.6);
  }
}

#root {
  @apply w-full h-full;
  @apply flex flex-col items-center;
}

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  @apply font-medium text-black;
  @apply w-screen h-full;
}
